:root {
    --primary: rgba(100, 149, 237, 1);
    --secondary: rgba(21, 1, 92, 1);
    --dark: rgba(44, 44, 62, 1);
    --light: rgba(255, 255, 255, 1);
    --gray: rgba(160, 160, 160, 1);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.forecast-icon   {
    font-size: 30px;
    margin: 5%;
}

.header {
    color: var(--light);
    background-image: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
    padding: 20px;
}

.btn {
    width: 100%;
}

.search-btn {
    color: var(--light);
    background-color: var(--primary);
}

.city-btn {
    background-color: var(--gray);
}

.btn:hover {
    color: var(--light);
    background-color: var(--secondary);
}

.forecast-card {
    color: var(--light);
    background-color: var(--dark);
}

@media screen and (max-width: 992px) {
   .forecast-col {
       order: -1;
   } 
}